body {
  font-family: "PT Sans Narrow", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #111;
  background-image: url("../img/index-background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
}
p,
ul,
h2,
figure {
    margin: 0;
    padding: 0;
}
h2 {
  font-size: 30px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
}
main {
  color: #000;
}
input {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background: #f9f6f3;
  border: 2px solid #000;
  padding: 8px 15px;
}
input::-webkit-input-placeholder {color: #000;}
input::-moz-placeholder {color: #000;}
input:-moz-placeholder {color: #000;}
input:-ms-input-placeholder {color: #000;}

input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif, Arial;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  border: none;
  width: 140px;
  text-align: center;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #663d15;
  outline: 0;
}
.btn:disabled {
  cursor: default;
  opacity: .5;
}
.btn:disabled:hover {
  background-color: #000;
}
.inner-page {
    background: #f8f3f0 url("../img/content-background.jpg") repeat;
}


/* Header */

.main-header {
  min-height: 70px;
  background-color: #000;
  vertical-align: top;
  margin-bottom: 60px;
}
.main-header a {
  display: block;
  padding: 25px 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.main-header a:hover,
.main-header a:focus {
  background-color: #242424;
}
.main-navigation {
  float: left;
}
.main-navigation ul {
  font-size: 0;
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
}
.current-page a {
  position: relative;
}
.current-page a::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #fff;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.user-block {
  font-size: 16px;
  float: right;
  max-width: 140px;
}
.user-block a {
  position: relative;
  padding-left: 50px;
}
.user-block a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: 0 -212px;
  opacity: .3;
  top: 27px;
  left: 19px;
}
.user-block a:hover::before {
  opacity: 1;
}

/* Logo */

.logo {
  text-align: center;
  margin-bottom: 20px;
}

/*Features*/
.features {
  margin-bottom: 65px;
  color: #fff;
}
.features-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  text-align: center;
}
.features-title {
  padding-bottom: 50px;
  margin-bottom: 30px;
  position: relative;
}
.features-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.features-item p {
  padding: 0 20px;
}


/* Index content */

.index-content {
  background: url("../img/column-delimiter.png") no-repeat center, url("../img/content-background.jpg") repeat;
  margin-bottom: 35px;
}
.content-column-left,
.content-column-right {
  width: 300px;
  height: 320px;
  padding: 55px 80px;
}
.content-column-left {
  float: left;
}
.content-column-right {
  float: right;
}
.content-column-title {
  margin-bottom: 35px;
}


/* News */

.news-preview li {
  padding-bottom: 26px;
}
.news-preview time {
  font-family: "Georia Italic";
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}


/* Gallery */

.gallery-content {
  margin-bottom: 35px;
}
.gallery-content img {
  border: 7px solid #fff;
}
.gallery-prev {
  float: left;
}
.gallery-next {
  float: right;
}


/* Main contacts */

.main-contacts p {
  padding-bottom: 29px;
}
.main-contacts p:last-child {
  margin-bottom: 21px;
}
.contacts-navigate-btn {
  float: left;
}
.contacts-feedback-btn {
  float: right;
}


/* Appointment form */

.appointment-form p {
  margin-bottom: 30px;
}
.appointment-form input {
  float: left;
  bottom: 0;
  width: 105px;
  margin-bottom: 20px;
}
.appointment-form input:nth-child(even) {
  float: right;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
  outline: 0;
}
.appointment-form .btn {
    width: 100%;
    margin-top: 14px;
}


/* Footer */

.main-footer {
  background: #222 url("../img/footer-background.jpg");
  margin-top: 60px;
  padding: 60px 0;
}
.main-footer-column {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.footer-contacts {
  float: left;
  width: 340px;
  text-align: left;
}
.footer-social {
  float: left;
  max-width: 240px;
  margin-left: 55px;
}
.footer-social .social-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0 5px;
  background: #000 url("../img/sprites.png") no-repeat center;
}
.footer-social .social-btn-vk {
  background-position: 7px -826px;
}
.footer-social .social-btn-fb {
  background-position: 14px -549px;
}
.footer-social .social-btn-inst {
  background-position: 10px -691px;
}
.social-btn-vk:hover {
  background-color: #fff;
  background-position: 7px -760px;
}
.social-btn-fb:hover {
  background-color: #fff;
  background-position: 14px -476px;
}
.social-btn-inst:hover {
  background-color: #fff;
  background-position: 10px -620px;
}
.footer-copyright {
  max-width: 320px;
  float: right;
  font-style: normal;
}
.footer-author-btn {
  margin-top: 5px;
}
.footer-author-btn:hover {
  background-color: #fff;
  color: #000;
}

/* Login window */

.login-form {
  color: #000;
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  display: none;
  padding: 55px 80px;
  background-image: url("../img/content-background.jpg");
  background-repeat: repeat;
}
.login-form-close {
  position: absolute;
  right: -55px;
  top: 55px;
  width: 22px;
  height: 22px;
  background: url("../img/sprites.png") 0 -140px no-repeat;
  cursor: pointer;
}
.login-form .login-header {
  padding-bottom: 30px;
}
.login-form p {
  padding-bottom: 30px;
}
.login-form input {
  display: block;
  width: 264px;
  margin-bottom: 10px;
}
.login-form input:focus {
  border: 2px solid #663d15;
  outline: 0;
}
.login-form .remember-forget-block {
  padding-top: 5px;
  padding-bottom: 15px;
}
.remember-forget-block label {
  float: left;
}
.remember-forget-block .forget-pass {
  float: right;
}
.login-form button {
  width: 100%;
}


/* Price Page */

.inner-page .main-header {
  margin-bottom: 55px;
}
.inner-page-title {
  margin-bottom: 55px;
}
.inner-page-title h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 14px;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.breadcrumbs a {
  text-decoration: none;
  color: #000;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .current a {
  color: #aba9a7;
}
.breadcrumbs .current:after {
  content: none;
}

.inner-content {
  margin-bottom: 75px;
}
.inner-content h3 {
  margin-bottom: 30px;
  margin-top: 60px;
}
.inner-content p {
  margin: 14px 0;
}
.prices-table {
  border-collapse: collapse;
  width: 100%;
}
.prices-table td {
  border: 2px solid black;
  padding: 10px 15px;
  width: 50%;
}
.prices-table td:last-child {
  text-align: center;
}
.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}
.big-heading span {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  display: inline;
  margin: 0;
  padding: 0 25px;
  position: relative;
  z-index: 2;
  background: #f8f3f0 url("../img/content-background.jpg") repeat;
}
.big-heading:after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  position: relative;
  top: -25px;
  z-index: 1;
}
.custom-list-1 {
  list-style: none;
  margin: 14px 0;
  padding: 0;
}
.custom-list-1 li {
  padding-left: 20px;
  margin-bottom: 15px;
  position: relative;
}
.custom-list-1 li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.inner-content-columns {
  margin: 60px 0;
}
.inner-content-column-left,
.inner-content-column-right {
  width: 460px;
}
.inner-content-column-left {
  float: left;
}
.inner-content-column-right {
  float: right;
}
.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child {
  margin-top: 0;
}
.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child {
  margin-bottom: 0;
}
.short-text {
  width: 385px;
}
