body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif, Arial;
  font-weight: bold;
  /*background-image: url('../img/index-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.container {
  width: 900px;
  margin: auto;
}
